<form (ngSubmit)="changePassword()">
    <div>
      <label for="currentPassword">Contraseña Actual:</label>
      <input type="password" id="currentPassword" [(ngModel)]="currentPassword" name="currentPassword" required>
    </div>
    <div>
      <label for="newPassword">Nueva Contraseña:</label>
      <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required>
    </div>
    <div>
      <label for="newPasswordConfirmation">Confirmar Nueva Contraseña:</label>
      <input type="password" id="newPasswordConfirmation" [(ngModel)]="newPasswordConfirmation" name="newPasswordConfirmation" required>
    </div>
    <button type="submit">Cambiar Contraseña</button>
  </form>
  
  <div *ngIf="successMessage">{{ successMessage }}</div>
  <div *ngIf="errorMessage">{{ errorMessage }}</div>